<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <button mat-raised-button style="margin-left: 20px;"><a routerLink="register">Add User</a></button>
  <span class="example-spacer"></span>
  <a routerLink="home"> <button mat-icon-button><mat-icon fontIcon="home"></mat-icon></button></a>
  <button mat-raised-button><a routerLink="login">Login</a></button>
</mat-toolbar>

<router-outlet></router-outlet>
